ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {	
  display: block;
  font-family: roboto condensed;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #E7222E;
}

.active {
  background-color: #2B115A;
  border: 2px solid #81C4FF;
}